# Analisis de datos - Desastres Naturales

## ETL (Extraccion, transformacion, carga)

### Extraccion

In [ ]:
from google.colab import drive
import pandas as pd
import chardet


drive.mount('/content/drive', force_remount=True)

ruta_archivo = '/content/drive/MyDrive/global_disaster_response_2018_2024.csv'
with open(ruta_archivo, 'rb') as f:
    result = chardet.detect(f.read())
print(result['encoding'])

try:
  df = pd.read_csv(ruta_archivo, encoding=result['encoding'])
  print('Extraccion de datos exitosa')
except FileNotFoundError:
  print(f'El archivo no se encuentra en la ruta: {ruta_archivo}')

Mounted at /content/drive
ascii
Extraccion de datos exitosa

In [ ]:
## Registro completo de los desastres naturales y ambientales que ocurrieron
# en todo el mundo entre 2018 y 2024

# severity_index: Medida numérica de la intensidad o impacto del desastre
# casualties: Número de personas afectadas, fallecidas
# economic_loss_usd: Pérdida financiera en USD
# response_time_hours: Tiempo necesario para responder a la ayuda
# aid_amount_usd: Ayuda de la cantidad proporcionada en USD
# response_efficiency_score: Puntuación de evaluación que
# representa la eficacia de la respuesta
# recovery_days: Recuperación en cuántos días




# Muestra las primeras 10 filas del DataFrame
df.head(10)

,date,country,disaster_type,severity_index,casualties,economic_loss_usd,response_time_hours,aid_amount_usd,response_efficiency_score,recovery_days,latitude,longitude
0,2021-01-31,Brazil,Earthquake,5.99,111,7934365.71,15.62,271603.79,83.21,67,-30.613,-122.557
1,2018-12-23,Brazil,Extreme Heat,6.53,100,8307648.99,5.03,265873.81,96.18,55,10.859,-159.194
2,2020-08-10,India,Hurricane,1.55,22,765136.99,32.54,49356.49,60.40,22,0.643,-160.978
3,2022-09-15,Indonesia,Extreme Heat,4.55,94,1308251.31,7.83,237512.88,86.41,47,-33.547,30.350
4,2022-09-28,United States,Wildfire,3.80,64,2655864.36,21.90,188910.69,72.81,42,-19.170,-117.137
5,2019-01-15,France,Flood,2.56,56,51588.22,12.12,137988.29,91.57,26,-14.409,-47.947
6,2020-12-19,Germany,Storm Surge,4.77,81,1243386.99,6.47,194502.18,98.82,49,36.855,78.109
7,2022-03-31,Greece,Flood,1.47,34,1190129.51,29.18,91727.22,75.97,19,-50.544,-70.319
8,2024-06-22,Spain,Drought,3.32,56,3871721.46,19.33,134246.08,79.74,27,-36.925,-146.351
9,2018-11-23,Mexico,Tornado,2.61,73,4375843.52,18.05,182715.32,83.76,22,42.638,124.604

### Transformacion

In [ ]:
# Resumen de la información del Dataframe
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   date                       50000 non-null  object
 1   country                    50000 non-null  object
 2   disaster_type              50000 non-null  object
 3   severity_index             50000 non-null  float64
 4   casualties                 50000 non-null  int64
 5   economic_loss_usd          50000 non-null  float64
 6   response_time_hours        50000 non-null  float64
 7   aid_amount_usd             50000 non-null  float64
 8   response_efficiency_score  50000 non-null  float64
 9   recovery_days              50000 non-null  int64
 10  latitude                   50000 non-null  float64
 11  longitude                  50000 non-null  float64
dtypes: float64(7), int64(2), object(3)
memory usage: 4.6+ MB

In [ ]:
# Renombrar columnas a español
df.rename(columns={
    'date': 'fecha',
    'country': 'pais',
    'disaster_type': 'tipo_desastre',
    'severity_index': 'indice_gravedad',
    'casualties': 'bajas',
    'economic_loss_usd': 'perdida_economica_usd',
    'response_time_hours': 'tiempo_respuesta_horas',
    'aid_amount_usd': 'cantidad_ayuda_usd',
    'response_efficiency_score': 'eficiencia_respuesta',
    'recovery_days': 'dias_recuperacion',
    'latitude': 'latitud',
    'longitude': 'longitud'
}, inplace=True)

In [ ]:
#df.describe(include='all')
# Estadísticas Básicas

df.describe()

,indice_gravedad,bajas,perdida_economica_usd,tiempo_respuesta_horas,cantidad_ayuda_usd,eficiencia_respuesta,dias_recuperacion,latitud,longitud
count,50000.000000,50000.000000,5.000000e+04,50000.000000,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000
mean,5.015769,100.591140,5.068593e+06,12.183027,2.500003e+05,87.574025,49.682560,0.231205,0.089889
std,1.942843,65.052064,3.268541e+06,9.259081,1.432275e+05,10.188961,20.098944,34.759662,98.380208
min,1.000000,0.000000,5.273900e+02,1.000000,1.660000e+01,29.750000,2.000000,-59.994000,-169.998000
25%,3.660000,51.000000,2.585513e+06,6.270000,1.429663e+05,83.060000,36.000000,-29.848250,-85.551750
50%,4.990000,91.000000,4.548351e+06,10.510000,2.305365e+05,89.180000,49.000000,0.267500,0.390500
75%,6.340000,138.000000,6.950615e+06,15.450000,3.352259e+05,94.700000,63.000000,30.488250,85.665000
max,10.000000,524.000000,2.445624e+07,63.100000,1.126465e+06,100.000000,112.000000,59.997000,169.999000

In [ ]:
# Fecha a datetime
df['fecha'] = pd.to_datetime(df['fecha'], format='%Y-%m-%d')

In [ ]:
# Verificar duplicados
duplicados = df.duplicated().sum()
print("Cantidad de filas duplicadas:", duplicados)

# Cómo eliminarlos si existen
#df = df.drop_duplicates()

Cantidad de filas duplicadas: 0

In [ ]:
# Crear columna de ubicación usando longitud y altitud
df['ubicacion'] = df['latitud'].astype(str) + ", " + df['longitud'].astype(str)



print("Transformación de datos completada exitosamente")
df.head()

Transformación de datos completada exitosamente

,fecha,pais,tipo_desastre,indice_gravedad,bajas,perdida_economica_usd,tiempo_respuesta_horas,cantidad_ayuda_usd,eficiencia_respuesta,dias_recuperacion,latitud,longitud,ubicacion,impacto_total
0,2021-01-31,Brazil,Earthquake,5.99,111,7934365.71,15.62,271603.79,83.21,67,-30.613,-122.557,"-30.613, -122.557",7934476.71
1,2018-12-23,Brazil,Extreme Heat,6.53,100,8307648.99,5.03,265873.81,96.18,55,10.859,-159.194,"10.859, -159.194",8307748.99
2,2020-08-10,India,Hurricane,1.55,22,765136.99,32.54,49356.49,60.40,22,0.643,-160.978,"0.643, -160.978",765158.99
3,2022-09-15,Indonesia,Extreme Heat,4.55,94,1308251.31,7.83,237512.88,86.41,47,-33.547,30.350,"-33.547, 30.35",1308345.31
4,2022-09-28,United States,Wildfire,3.80,64,2655864.36,21.90,188910.69,72.81,42,-19.170,-117.137,"-19.17, -117.137",2655928.36

### Carga

In [ ]:
# Definir la ruta de salida para guardar el nuevo CSV
ruta_salida = '/content/drive/MyDrive/desastres_mundiales_transformado_2018_2024.csv'

# Guardar el dataframe transformado en un nuevo archivo CSV en Drive
df.to_csv(ruta_salida, index=False, sep=',')

print(f'Archivo CSV guardado en: {ruta_archivo}')

## EDA (Analisis exploratorio de datos)

In [25]:
# Exploracion dataset

print(df.head())
print(df.info())
print(df.describe())
print(df.isnull().sum())
print(df.duplicated().sum())

       fecha           pais tipo_desastre  indice_gravedad  bajas  \
0 2021-01-31         Brazil    Earthquake             5.99    111
1 2018-12-23         Brazil  Extreme Heat             6.53    100
2 2020-08-10          India     Hurricane             1.55     22
3 2022-09-15      Indonesia  Extreme Heat             4.55     94
4 2022-09-28  United States      Wildfire             3.80     64

   perdida_economica_usd  tiempo_respuesta_horas  cantidad_ayuda_usd  \
0             7934365.71                   15.62           271603.79
1             8307648.99                    5.03           265873.81
2              765136.99                   32.54            49356.49
3             1308251.31                    7.83           237512.88
4             2655864.36                   21.90           188910.69

   eficiencia_respuesta  dias_recuperacion  latitud  longitud  \
0                 83.21                 67  -30.613  -122.557
1                 96.18                 55   10.859  -159.194
2                 60.40                 22    0.643  -160.978
3                 86.41                 47  -33.547    30.350
4                 72.81                 42  -19.170  -117.137

           ubicacion  impacto_total
0  -30.613, -122.557     7934476.71
1   10.859, -159.194     8307748.99
2    0.643, -160.978      765158.99
3     -33.547, 30.35     1308345.31
4   -19.17, -117.137     2655928.36
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   fecha                   50000 non-null  datetime64[ns]
 1   pais                    50000 non-null  object
 2   tipo_desastre           50000 non-null  object
 3   indice_gravedad         50000 non-null  float64
 4   bajas                   50000 non-null  int64
 5   perdida_economica_usd   50000 non-null  float64
 6   tiempo_respuesta_horas  50000 non-null  float64
 7   cantidad_ayuda_usd      50000 non-null  float64
 8   eficiencia_respuesta    50000 non-null  float64
 9   dias_recuperacion       50000 non-null  int64
 10  latitud                 50000 non-null  float64
 11  longitud                50000 non-null  float64
 12  ubicacion               50000 non-null  object
 13  impacto_total           50000 non-null  float64
dtypes: datetime64[ns](1), float64(8), int64(2), object(3)
memory usage: 5.3+ MB
None
                            fecha  indice_gravedad         bajas  \
count                       50000     50000.000000  50000.000000
mean   2021-07-02 13:05:39.840000         5.015769    100.591140
min           2018-01-01 00:00:00         1.000000      0.000000
25%           2019-10-07 00:00:00         3.660000     51.000000
50%           2021-06-27 00:00:00         4.990000     91.000000
75%           2023-04-02 00:00:00         6.340000    138.000000
max           2024-12-31 00:00:00        10.000000    524.000000
std                           NaN         1.942843     65.052064

       perdida_economica_usd  tiempo_respuesta_horas  cantidad_ayuda_usd  \
count           5.000000e+04            50000.000000        5.000000e+04
mean            5.068593e+06               12.183027        2.500003e+05
min             5.273900e+02                1.000000        1.660000e+01
25%             2.585513e+06                6.270000        1.429663e+05
50%             4.548351e+06               10.510000        2.305365e+05
75%             6.950615e+06               15.450000        3.352259e+05
max             2.445624e+07               63.100000        1.126465e+06
std             3.268541e+06                9.259081        1.432275e+05

       eficiencia_respuesta  dias_recuperacion       latitud      longitud  \
count          50000.000000       50000.000000  50000.000000  50000.000000
mean              87.574025          49.682560      0.231205      0.089889
min               29.750000           2.000000    -59.994000   -169.998000
25%               83.060000          36.000000    -29.848250    -85.551750
50%               89.180000          49.000000      0.267500      0.390500
75%               94.700000          63.000000     30.488250     85.665000
max              100.000000         112.000000     59.997000    169.999000
std               10.188961          20.098944     34.759662     98.380208

       impacto_total
count   5.000000e+04
mean    5.068694e+06
min     5.393900e+02
25%     2.585557e+06
50%     4.548405e+06
75%     6.950745e+06
max     2.445640e+07
std     3.268565e+06
fecha                     0
pais                      0
tipo_desastre             0
indice_gravedad           0
bajas                     0
perdida_economica_usd     0
tiempo_respuesta_horas    0
cantidad_ayuda_usd        0
eficiencia_respuesta      0
dias_recuperacion         0
latitud                   0
longitud                  0
ubicacion                 0
impacto_total             0
dtype: int64
0

In [24]:
# Categorias

print(df['tipo_desastre'].value_counts())
print(df['pais'].value_counts())
print(df['indice_gravedad'].value_counts())
print(df['perdida_economica_usd'].value_counts())

tipo_desastre
Landslide            5130
Earthquake           5068
Flood                5039
Hurricane            5002
Extreme Heat         5001
Storm Surge          4988
Volcanic Eruption    4983
Wildfire             4954
Tornado              4939
Drought              4896
Name: count, dtype: int64
pais
Brazil           2591
Australia        2563
Turkey           2554
Bangladesh       2553
Spain            2543
China            2539
Chile            2529
Nigeria          2528
Germany          2526
India            2509
Greece           2503
Italy            2503
South Africa     2497
Japan            2472
Indonesia        2467
Canada           2438
Philippines      2437
Mexico           2433
United States    2413
France           2402
Name: count, dtype: int64
indice_gravedad
1.00     1160
10.00     301
4.93      123
4.99      121
4.40      121
         ...
9.65        3
9.86        3
9.67        3
9.92        2
9.99        2
Name: count, Length: 901, dtype: int64
perdida_economica_usd
4354635.25    2
375811.43     2
761004.70     2
2733018.90    2
5483574.38    1
             ..
458076.38     1
6350523.70    1
2198090.22    1
264763.82     1
38739.56      1
Name: count, Length: 49996, dtype: int64

In [21]:
# Preguntas

# Desastre que oocurrió más veces
frecuencia_desastres = df['tipo_desastre'].value_counts()
print(f'Desastre ocurrido más veces: {frecuencia_desastres.idxmax()}')

# Desastre que causó más bajas
desastre_bajas = df.groupby('tipo_desastre')['bajas'].sum()
print(f'Desastre que causó más bajas en total: {desastre_bajas.idxmax()}')

# Desastre más grave
desastre_grave = df.loc[df['indice_gravedad'].idxmax()]
print(f'Desastre más grave: {desastre_grave["tipo_desastre"]}')

#

Desastre ocurrido más veces: Landslide
Desastre que causó más bajas en total: Landslide
Desastre más grave: Flood